In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("diabetes_clean.csv")
df.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
X = df.drop("glucose",axis=1).values
y = df["glucose"].values
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

reg_all = LinearRegression()
reg_all.fit(X_train, y_train)
y_pred = reg_all.predict(X_test)

In [4]:
reg_all.score(X_test,y_test)

0.28280468810375115

In [5]:
from sklearn.metrics import  mean_squared_error
mean_squared_error(y_test,y_pred, squared=False)

c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

np.float64(26.341459582232265)

In [6]:
from sklearn.metrics import  mean_squared_error
mean_squared_error(y_test,y_pred, squared=True)

c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

np.float64(693.872492922376)

In [7]:
X1=df[["bmi"]]
y=df["glucose"]
X_train,X_test,y_train,y_test = train_test_split(X1,y,test_size=0.3,random_state=42)

reg_all = LinearRegression()
reg_all.fit(X_train, y_train)
y_pred = reg_all.predict(X_test)

In [8]:
reg_all.score(X_test,y_test)

0.06707450862298348

In [9]:
mean_squared_error(y_test,y_pred, squared=False)

c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

np.float64(30.04308970518936)

In [10]:
mean_squared_error(y_test,y_pred, squared=True)

c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

np.float64(902.5872390340548)

In [11]:

model = LinearRegression(fit_intercept=True)
model_fit = model.fit(X, y)

intercept = model.intercept_
slope = model.coef_[:]



print(f"Intercept: {intercept}")
print(f"Slope: {slope}")

Intercept: 77.80192401287388
Slope: [-0.4654005   0.1180373  -0.28857159  0.09010463  0.30747262  1.69344071
  0.48397771 25.03801885]

In [12]:
a = sns.load_dataset("tips")
a

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [13]:
from sklearn.metrics import mean_squared_error, r2_score


X2 = a[["total_bill"]]
y1 = a["tip"]
X_train,X_test,y_train,y_test = train_test_split(X2,y1,test_size=0.3,random_state=42)

reg_all = LinearRegression()
reg_all.fit(X_train, y_train)
y_pred = reg_all.predict(X_test)


model_fit = model.fit(X2, y1)

intercept = model.intercept_
slope = model.coef_



print(f"Intercept: {intercept}")
print(f"Slope: {slope}")

Intercept: 0.9202696135546731
Slope: [0.10502452]

In [14]:
y_test

24     3.18
6      2.00
153    2.00
211    5.16
198    2.00
       ...
165    3.48
154    2.00
216    3.00
79     2.71
29     3.00
Name: tip, Length: 74, dtype: float64

In [15]:
X_test

     total_bill
24        19.82
6          8.77
153       24.55
211       25.89
198       13.00
..          ...
165       24.52
154       19.77
216       28.15
79        17.29
29        19.65

[74 rows x 1 columns]