In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("train.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
first_five_rows = df.head()
print(first_five_rows)
assert first_five_rows.shape[0] == 5, f"Expected 5 rows, but got {first_five_rows.shape[0]}"

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [4]:
# Exercise 2: Calculate the mean age of passengers
mean_age =  df['Age'].mean() # Calculate mean age
print(mean_age)
# Assert
expected_mean_age = df['Age'].mean()
assert np.isclose(mean_age, expected_mean_age), f"Expected {expected_mean_age}, but got {mean_age}"

29.69911764705882

In [5]:

# Exercise 3: Find the number of missing values in the 'Cabin' column
missing_cabin = df['Cabin'].isnull().sum()  # Find number of missing values
# Assert
print(missing_cabin)
expected_missing_cabin = df['Cabin'].isnull().sum()
assert missing_cabin == expected_missing_cabin, f"Expected {expected_missing_cabin}, but got {missing_cabin}"

687

In [6]:

# Exercise 4: Filter the DataFrame to include only female passengers
female_df = df[df['Sex'] == 'female']  # Filter DataFrame
print(female_df)
# Assert
assert female_df['Sex'].unique() == ['female'], "DataFrame contains non-female passengers"

     PassengerId  Survived  Pclass  \
1              2         1       1
2              3         1       3
3              4         1       1
8              9         1       3
9             10         1       2
..           ...       ...     ...
880          881         1       2
882          883         0       3
885          886         0       3
887          888         1       1
888          889         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
..                                                 ...     ...   ...    ...
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1

     Parch            Ticket     Fare Cabin Embarked
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
8        2            347742  11.1333   NaN        S
9        0            237736  30.0708   NaN        C
..     ...               ...      ...   ...      ...
880      1            230433  26.0000   NaN        S
882      0              7552  10.5167   NaN        S
885      5            382652  29.1250   NaN        Q
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S

[314 rows x 12 columns]

In [7]:

# Exercise 5: Calculate the survival rate (percentage) of passengers
survival_rate = df["Survived"].mean() * 100  # Calculate survival rate
print(survival_rate)
# Assert
expected_survival_rate = (df['Survived'].mean()) * 100
assert np.isclose(survival_rate, expected_survival_rate), f"Expected {expected_survival_rate}, but got {survival_rate}"

38.38383838383838

In [8]:

# Exercise 6: Create a new column 'FamilySize' as the sum of 'SibSp' and 'Parch'
df['FamilySize'] = df["SibSp"] + df["Parch"]  # Create new column
# Assert
expected_family_size = df['SibSp'] + df['Parch']
print(expected_family_size )
assert df['FamilySize'].equals(expected_family_size), "Column 'FamilySize' not created correctly"

0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    3
889    0
890    0
Length: 891, dtype: int64

In [9]:

# Exercise 7: Find the most common embarkation point (i.e., the value that appears most frequently in 'Embarked')
most_common_embarkation = df["Embarked"].mode()[0]  # Find most common embarkation point
# Assert
print(most_common_embarkation)
expected_common_embarkation = df['Embarked'].mode()[0]
assert most_common_embarkation == expected_common_embarkation, f"Expected {expected_common_embarkation}, but got {most_common_embarkation}"

S

In [10]:

# Exercise 8: Calculate the mean fare for each class (Pclass)
mean_fare_by_class = df.groupby("Pclass")['Fare'].mean().to_list()  # Calculate mean fare by class
# Assert
print(mean_fare_by_class)
expected_mean_fare_by_class = df.groupby('Pclass')['Fare'].mean().to_list()
assert mean_fare_by_class == expected_mean_fare_by_class, f"Expected {expected_mean_fare_by_class}, but got {mean_fare_by_class}"

[84.1546875, 20.662183152173913, 13.675550101832993]

In [11]:

# Exercise 9: Sort the DataFrame by 'Age' in ascending order
sorted_by_age_df = df.sort_values(by='Age')  # Sort DataFrame
# Assert
print(sorted_by_age_df)
expected_sorted_names_by_age = df.sort_values(by='Age')['Name'].tolist()
assert sorted_by_age_df['Name'].tolist() == expected_sorted_names_by_age, "DataFrame not sorted correctly by age"

     PassengerId  Survived  Pclass                                      Name  \
803          804         1       3           Thomas, Master. Assad Alexander
755          756         1       2                 Hamalainen, Master. Viljo
469          470         1       3             Baclini, Miss. Helene Barbara
644          645         1       3                    Baclini, Miss. Eugenie
78            79         1       2             Caldwell, Master. Alden Gates
..           ...       ...     ...                                       ...
859          860         0       3                          Razi, Mr. Raihed
863          864         0       3         Sage, Miss. Dorothy Edith "Dolly"
868          869         0       3               van Melkebeke, Mr. Philemon
878          879         0       3                        Laleff, Mr. Kristo
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"

        Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked  \
803    male  0.42      0      1        2625   8.5167   NaN        C
755    male  0.67      1      1      250649  14.5000   NaN        S
469  female  0.75      2      1        2666  19.2583   NaN        C
644  female  0.75      2      1        2666  19.2583   NaN        C
78     male  0.83      0      2      248738  29.0000   NaN        S
..      ...   ...    ...    ...         ...      ...   ...      ...
859    male   NaN      0      0        2629   7.2292   NaN        C
863  female   NaN      8      2    CA. 2343  69.5500   NaN        S
868    male   NaN      0      0      345777   9.5000   NaN        S
878    male   NaN      0      0      349217   7.8958   NaN        S
888  female   NaN      1      2  W./C. 6607  23.4500   NaN        S

     FamilySize
803           1
755           2
469           3
644           3
78            2
..          ...
859           0
863          10
868           0
878           0
888           3

[891 rows x 13 columns]

In [12]:

# Exercise 10: Reset the index of the sorted DataFrame
reset_sorted_by_age_df = df.reset_index()  # Reset index
# Assert
print(reset_sorted_by_age_df)
assert reset_sorted_by_age_df.index.tolist() == list(range(df.shape[0])), f"Index not reset correctly"

     index  PassengerId  Survived  Pclass  \
0        0            1         0       3
1        1            2         1       1
2        2            3         1       3
3        3            4         1       1
4        4            5         0       3
..     ...          ...       ...     ...
886    886          887         0       2
887    887          888         1       1
888    888          889         0       3
889    889          890         1       1
890    890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked  FamilySize
0        0         A/5 21171   7.2500   NaN        S           1
1        0          PC 17599  71.2833   C85        C           1
2        0  STON/O2. 3101282   7.9250   NaN        S           0
3        0            113803  53.1000  C123        S           1
4        0            373450   8.0500   NaN        S           0
..     ...               ...      ...   ...      ...         ...
886      0            211536  13.0000   NaN        S           0
887      0            112053  30.0000   B42        S           0
888      2        W./C. 6607  23.4500   NaN        S           3
889      0            111369  30.0000  C148        C           0
890      0            370376   7.7500   NaN        Q           0

[891 rows x 14 columns]

In [13]:

# Exercise 11: Find the unique values in the 'Pclass' column
unique_pclass_values = df["Pclass"].unique()  # Find unique values
# Assert
print(unique_pclass_values)
expected_unique_pclass_values = df['Pclass'].unique()
assert np.array_equal(unique_pclass_values, expected_unique_pclass_values), f"Expected {expected_unique_pclass_values}, but got {unique_pclass_values}"

[3 1 2]

In [14]:
# Exercise 12: Filter passengers older than 30
older_than_30_df = df[df["Age"]>30]  # Filter passengers older than 30
# Assert
print(older_than_30_df)
assert older_than_30_df['Age'].min() > 30, "DataFrame contains passengers 30 or younger"

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
4              5         0       3
6              7         0       1
11            12         1       1
..           ...       ...     ...
873          874         0       3
879          880         1       1
881          882         0       3
885          886         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
881                                 Markun, Mr. Johann    male  33.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch    Ticket     Fare Cabin Embarked  FamilySize
1        0  PC 17599  71.2833   C85        C           1
3        0    113803  53.1000  C123        S           1
4        0    373450   8.0500   NaN        S           0
6        0     17463  51.8625   E46        S           0
11       0    113783  26.5500  C103        S           0
..     ...       ...      ...   ...      ...         ...
873      0    345765   9.0000   NaN        S           0
879      1     11767  83.1583   C50        C           1
881      0    349257   7.8958   NaN        S           0
885      5    382652  29.1250   NaN        Q           5
890      0    370376   7.7500   NaN        Q           0

[305 rows x 13 columns]

In [15]:
# Exercise 13: Create a pivot table with 'Pclass' as rows and 'Survived' as values, calculating the mean survival rate per class
pivot_table_survival = df.pivot_table(values="Survived", index="Pclass", aggfunc="mean").to_dict()["Survived"] 
# Create pivot table
print(pivot_table_survival)
# Assert
expected_pivot_table_survival = df.pivot_table(values='Survived', index='Pclass', aggfunc='mean').to_dict()['Survived']
assert pivot_table_survival == expected_pivot_table_survival, f"Expected {expected_pivot_table_survival}, but got {pivot_table_survival}"

{1: 0.6296296296296297, 2: 0.47282608695652173, 3: 0.24236252545824846}

In [16]:
# Exercise 14: Calculate the standard deviation of the 'Fare' column
fare_std = df["Fare"].std()  # Calculate standard deviation
# Assert
print(fare_std)
expected_fare_std = df['Fare'].std()
assert np.isclose(fare_std, expected_fare_std), f"Expected {expected_fare_std}, but got {fare_std}"

49.6934285971809

In [17]:
# Exercise 15: Add a row for a new passenger with the following details: 
# Name: 'Test Passenger', Pclass: 3, Age: 25, SibSp: 0, Parch: 0, Ticket: '0000', Fare: 7.25, Cabin: 'E50', Embarked: 'S'
new_passenger = pd.DataFrame([{
    'PassengerId': df['PassengerId'].max() + 1,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Test Passenger',
    'Sex': 'male',
    'Age': 25,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': '0000',
    'Fare': 7.25,
    'Cabin': 'E50',
    'Embarked': 'S'
}])
df = pd.concat([df, new_passenger], ignore_index=True)  # Add new passenger
# Assert
print(new_passenger)
assert df.iloc[-1]['Name'] == 'Test Passenger', "New passenger not added correctly"

   PassengerId  Survived  Pclass            Name   Sex  Age  SibSp  Parch  \
0          892         0       3  Test Passenger  male   25      0      0

  Ticket  Fare Cabin Embarked
0   0000  7.25   E50        S

In [18]:
# Exercise 16: Calculate the correlation matrix of the DataFrame
correlation_matrix = df.corr  # Calculate correlation matrix
# Assert
print(correlation_matrix)
assert correlation_matrix is not None, "Correlation matrix is None"

<bound method DataFrame.corr of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3
891          892         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0
891                                     Test Passenger    male  25.0      0

     Parch            Ticket     Fare Cabin Embarked  FamilySize
0        0         A/5 21171   7.2500   NaN        S         1.0
1        0          PC 17599  71.2833   C85        C         1.0
2        0  STON/O2. 3101282   7.9250   NaN        S         0.0
3        0            113803  53.1000  C123        S         1.0
4        0            373450   8.0500   NaN        S         0.0
..     ...               ...      ...   ...      ...         ...
887      0            112053  30.0000   B42        S         0.0
888      2        W./C. 6607  23.4500   NaN        S         3.0
889      0            111369  30.0000  C148        C         0.0
890      0            370376   7.7500   NaN        Q         0.0
891      0              0000   7.2500   E50        S         NaN

[892 rows x 13 columns]>

In [19]:
# Exercise 17: Filter the DataFrame for passengers who paid a fare greater than 100
high_fare_df = df[df["Fare"]>100] # Filter high fare passengers
# Assert
print(high_fare_df)
assert high_fare_df['Fare'].min() > 100, "DataFrame contains passengers who paid 100 or less"

     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1
215          216         1       1
258          259         1       1
268          269         1       1
269          270         1       1
297          298         0       1
299          300         1       1
305          306         1       1
306          307         1       1
307          308         1       1
311          312         1       1
318          319         1       1
319          320         1       1
325          326         1       1
332          333         0       1
334          335         1       1
337          338         1       1
341          342         1       1
373          374         0       1
377          378         0       1
380          381         1       1
390          391         1       1
393          394         1       1
435          436         1       1
438          439         0       1
498          499         0       1
505          506         0       1
527          528         0       1
537          538         1       1
544          545         0       1
550          551         1       1
557          558         0       1
581          582         1       1
609          610         1       1
659          660         0       1
660          661         1       1
679          680         1       1
689          690         1       1
698          699         0       1
700          701         1       1
708          709         1       1
716          717         1       1
730          731         1       1
737          738         1       1
742          743         1       1
763          764         1       1
779          780         1       1
802          803         1       1
856          857         1       1

                                                  Name     Sex    Age  SibSp  \
27                      Fortune, Mr. Charles Alexander    male  19.00      3
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female    NaN      1
88                          Fortune, Miss. Mabel Helen  female  23.00      3
118                           Baxter, Mr. Quigg Edmond    male  24.00      0
195                               Lurette, Miss. Elise  female  58.00      0
215                            Newell, Miss. Madeleine  female  31.00      1
258                                   Ward, Miss. Anna  female  35.00      0
268      Graham, Mrs. William Thompson (Edith Junkins)  female  58.00      0
269                             Bissette, Miss. Amelia  female  35.00      0
297                       Allison, Miss. Helen Loraine  female   2.00      1
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.00      0
305                     Allison, Master. Hudson Trevor    male   0.92      1
306                            Fleming, Miss. Margaret  female    NaN      0
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
311                         Ryerson, Miss. Emily Borie  female  18.00      2
318                           Wick, Miss. Mary Natalie  female  31.00      0
319  Spedden, Mrs. Frederic Oakley (Margaretta Corn...  female  40.00      1
325                           Young, Miss. Marie Grice  female  36.00      0
332                          Graham, Mr. George Edward    male  38.00      0
334  Frauenthal, Mrs. Henry William (Clara Heinshei...  female    NaN      1
337                    Burns, Miss. Elizabeth Margaret  female  41.00      0
341                     Fortune, Miss. Alice Elizabeth  female  24.00      3
373                                Ringhini, Mr. Sante    male  22.00      0
377                          Widener, Mr. Harry Elkins    male  27.00      0
380                              Bidois, Miss. Rosalie  female  42.00      0
390                         Carter, Mr. William Ernest    male  36.00      1
393                             Newell, Miss. Marjorie  female  23.00      1
435                          Carter, Miss. Lucile Polk  female  14.00      1
438                                  Fortune, Mr. Mark    male  64.00      1
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.00      1
505         Penasco y Castellana, Mr. Victor de Satode    male  18.00      1
527                                 Farthing, Mr. John    male    NaN      0
537                                LeRoy, Miss. Bertha  female  30.00      0
544                         Douglas, Mr. Walter Donald    male  50.00      1
550                        Thayer, Mr. John Borland Jr    male  17.00      0
557                                Robbins, Mr. Victor    male    NaN      0
581  Thayer, Mrs. John Borland (Marian Longstreth M...  female  39.00      1
609                          Shutes, Miss. Elizabeth W  female  40.00      0
659                         Newell, Mr. Arthur Webster    male  58.00      0
660                      Frauenthal, Dr. Henry William    male  50.00      2
679                 Cardeza, Mr. Thomas Drake Martinez    male  36.00      0
689                  Madill, Miss. Georgette Alexandra  female  15.00      0
698                           Thayer, Mr. John Borland    male  49.00      1
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  female  18.00      1
708                               Cleaver, Miss. Alice  female  22.00      0
716                      Endres, Miss. Caroline Louise  female  38.00      0
730                      Allen, Miss. Elisabeth Walton  female  29.00      0
737                             Lesurer, Mr. Gustave J    male  35.00      0
742              Ryerson, Miss. Susan Parker "Suzette"  female  21.00      2
763          Carter, Mrs. William Ernest (Lucile Polk)  female  36.00      1
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.00      0
802                Carter, Master. William Thornton II    male  11.00      1
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.00      1

     Parch    Ticket      Fare            Cabin Embarked  FamilySize
27       2     19950  263.0000      C23 C25 C27        S         5.0
31       0  PC 17569  146.5208              B78        C         1.0
88       2     19950  263.0000      C23 C25 C27        S         5.0
118      1  PC 17558  247.5208          B58 B60        C         1.0
195      0  PC 17569  146.5208              B80        C         0.0
215      0     35273  113.2750              D36        C         1.0
258      0  PC 17755  512.3292              NaN        C         0.0
268      1  PC 17582  153.4625             C125        S         1.0
269      0  PC 17760  135.6333              C99        S         0.0
297      2    113781  151.5500          C22 C26        S         3.0
299      1  PC 17558  247.5208          B58 B60        C         1.0
305      2    113781  151.5500          C22 C26        S         3.0
306      0     17421  110.8833              NaN        C         0.0
307      0  PC 17758  108.9000              C65        C         1.0
311      2  PC 17608  262.3750  B57 B59 B63 B66        C         4.0
318      2     36928  164.8667               C7        S         2.0
319      1     16966  134.5000              E34        C         2.0
325      0  PC 17760  135.6333              C32        C         0.0
332      1  PC 17582  153.4625              C91        S         1.0
334      0  PC 17611  133.6500              NaN        S         1.0
337      0     16966  134.5000              E40        C         0.0
341      2     19950  263.0000      C23 C25 C27        S         5.0
373      0  PC 17760  135.6333              NaN        C         0.0
377      2    113503  211.5000              C82        C         2.0
380      0  PC 17757  227.5250              NaN        C         0.0
390      2    113760  120.0000          B96 B98        S         3.0
393      0     35273  113.2750              D36        C         1.0
435      2    113760  120.0000          B96 B98        S         3.0
438      4     19950  263.0000      C23 C25 C27        S         5.0
498      2    113781  151.5500          C22 C26        S         3.0
505      0  PC 17758  108.9000              C65        C         1.0
527      0  PC 17483  221.7792              C95        S         0.0
537      0  PC 17761  106.4250              NaN        C         0.0
544      0  PC 17761  106.4250              C86        C         1.0
550      2     17421  110.8833              C70        C         2.0
557      0  PC 17757  227.5250              NaN        C         0.0
581      1     17421  110.8833              C68        C         2.0
609      0  PC 17582  153.4625             C125        S         0.0
659      2     35273  113.2750              D48        C         2.0
660      0  PC 17611  133.6500              NaN        S         2.0
679      1  PC 17755  512.3292      B51 B53 B55        C         1.0
689      1     24160  211.3375               B5        S         1.0
698      1     17421  110.8833              C68        C         2.0
700      0  PC 17757  227.5250          C62 C64        C         1.0
708      0    113781  151.5500              NaN        S         0.0
716      0  PC 17757  227.5250              C45        C         0.0
730      0     24160  211.3375               B5        S         0.0
737      0  PC 17755  512.3292             B101        C         0.0
742      2  PC 17608  262.3750  B57 B59 B63 B66        C         4.0
763      2    113760  120.0000          B96 B98        S         3.0
779      1     24160  211.3375               B3        S         1.0
802      2    113760  120.0000          B96 B98        S         3.0
856      1     36928  164.8667              NaN        S         2.0

In [20]:
# Exercise 18: Calculate the average age of passengers for each embarkation point
average_age_by_embarkation = df.groupby("Embarked")["Age"].mean().to_dict()  # Calculate average age by embarkation
# Assert
print(average_age_by_embarkation)
expected_average_age_by_embarkation = df.groupby('Embarked')['Age'].mean().to_dict()
assert average_age_by_embarkation == expected_average_age_by_embarkation, f"Expected {expected_average_age_by_embarkation}, but got {average_age_by_embarkation}"

{'C': 30.81476923076923, 'Q': 28.089285714285715, 'S': 29.43738738738739}

In [21]:
# Exercise 19: Find the number of passengers in each class
passenger_count_by_class = df["Pclass"].value_counts().to_dict()  # Find number of passengers in each class
# Assert
print(passenger_count_by_class)
expected_passenger_count_by_class = df['Pclass'].value_counts().to_dict()
assert passenger_count_by_class == expected_passenger_count_by_class, f"Expected {expected_passenger_count_by_class}, but got {passenger_count_by_class}"

{3: 492, 1: 216, 2: 184}

In [22]:
# Exercise 20: Create a new column 'AgeGroup' categorizing passengers as 'Child' (<18), 'Adult' (18-60), 'Senior' (>60)
def categorize_age(age):
    if age < 18:
        return 'Child'
    elif age <= 60:
        return 'Adult'
    else:
        return 'Senior'

df['AgeGroup'] = df["Age"].apply(categorize_age).tolist()  # Create new column
# Assert
expected_age_groups = df['Age'].apply(categorize_age).tolist()
print(expected_age_groups)
assert df['AgeGroup'].tolist() == expected_age_groups, "Column 'AgeGroup' not created correctly"

['Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Child', 'Adult', 'Child', 'Child', 'Adult', 'Adult', 'Adult', 'Child', 'Adult', 'Child', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Child', 'Adult', 'Child', 'Adult', 'Senior', 'Adult', 'Senior', 'Senior', 'Adult', 'Senior', 'Senior', 'Senior', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Child', 'Adult', 'Adult', 'Senior', 'Child', 'Adult', 'Senior', 'Senior', 'Senior', 'Senior', 'Adult', 'Child', 'Adult', 'Adult', 'Adult', 'Senior', 'Senior', 'Adult', 'Adult', 'Child', 'Child', 'Adult', 'Adult', 'Adult', 'Child', 'Senior', 'Senior', 'Adult', 'Adult', 'Child', 'Adult', 'Adult', 'Child', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Senior', 'Child', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Child', 'Adult', 'Child', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Child', 'Adult', 'Adult', 'Child', 'Adult', 'Senior', 'Adult', 'Adult', 'Child', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Child', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Child', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Child', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Child', 'Adult', 'Senior', 'Senior', 'Adult', 'Adult', 'Adult', 'Child', 'Child', 'Child', 'Senior', 'Adult', 'Senior', 'Adult', 'Senior', 'Child', 'Child', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Senior', 'Senior', 'Child', 'Child', 'Child', 'Senior', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Child', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Child', 'Adult', 'Adult', 'Child', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Child', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Child', 'Adult', 'Senior', 'Adult', 'Child', 'Adult', 'Adult', 'Senior', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Senior', 'Child', 'Adult', 'Adult', 'Senior', 'Adult', 'Child', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Senior', 'Senior', 'Adult', 'Senior', 'Child', 'Adult', 'Senior', 'Adult', 'Child', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Child', 'Senior', 'Adult', 'Senior', 'Senior', 'Adult', 'Senior', 'Senior', 'Child', 'Senior', 'Child', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Child', 'Senior', 'Adult', 'Adult', 'Child', 'Senior', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Child', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Child', 'Adult', 'Adult', 'Senior', 'Child', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Senior', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Child', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Child', 'Adult', 'Adult', 'Senior', 'Adult', 'Child', 'Adult', 'Senior', 'Child', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Child', 'Adult', 'Senior', 'Senior', 'Senior', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Child', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Adult', 'Child', 'Adult', 'Child', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Child', 'Child', 'Adult', 'Child', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Senior', 'Child', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Child', 'Child', 'Senior', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Child', 'Senior', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Child', 'Adult', 'Senior', 'Adult', 'Child', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Child', 'Senior', 'Child', 'Senior', 'Adult', 'Child', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Child', 'Child', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Child', 'Child', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Senior', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Child', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Senior', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Child', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Senior', 'Senior', 'Adult', 'Adult', 'Senior', 'Child', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Child', 'Senior', 'Child', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Child', 'Adult', 'Adult', 'Child', 'Adult', 'Adult', 'Child', 'Adult', 'Child', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Child', 'Child', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Child', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Senior', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Child', 'Adult', 'Adult', 'Adult', 'Child', 'Child', 'Adult', 'Adult', 'Adult', 'Child', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Child', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Child', 'Senior', 'Adult', 'Child', 'Child', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Child', 'Child', 'Adult', 'Senior', 'Child', 'Senior', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Child', 'Child', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Child', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Child', 'Adult', 'Adult', 'Adult', 'Adult', 'Child', 'Senior', 'Senior', 'Child', 'Senior', 'Senior', 'Child', 'Child', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Senior', 'Adult', 'Child', 'Adult', 'Adult', 'Child', 'Adult', 'Senior', 'Adult', 'Adult', 'Senior', 'Child', 'Senior', 'Child', 'Child', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Child', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Child', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Adult', 'Senior', 'Adult', 'Adult', 'Adult']